<div>
  <button type="button" class="responsiveNav">
    <i class="fa-solid fa-bars"></i>
  </button>
  <ul class="navbar container-fluid">
    <li routerLink="/Home">{{ "HOME" | translate }}</li>
    <li routerLink="/Food/Stores">{{ "STORES" | translate }}</li>
    <li (click)="NavigateToAccount()">{{ "ACCOUNT" | translate }}</li>
    <li routerLink="/Authorization/Login">{{ "LOGIN" | translate }}</li>
    <li routerLink="/User/Cart" class="cart">
      <button type="button">
        <i class="fa-solid fa-cart-plus"></i><span class="cartno">0</span>
      </button>
    </li>

    <li class="lang">
      <i class="fa-solid fa-globe"></i
      ><i style="margin-left: 5px" class="fa-solid fa-chevron-down"></i>
      <ul class="langblock" @Fade>
        <li (click)="transfn('en')">EN</li>
        <li (click)="transfn('ar')">AR</li>
      </ul>
    </li>
  </ul>
</div>
