.responsiveNav{
  display: none;
  outline: none;
  position: fixed;
  top: 0px;
  z-index: 20;
  color: white;
  background-color: black;
  width: 50px;
  height: 50px;
}
.responsiveNav:active{

  background-color: gray;
}
.navbar{
  display: flex;
  background-color: #FFC300 ;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  border: 3px black solid;

  li{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    &:hover{
      color: #C70039;
      cursor: pointer;
    }
    button{
      border: none;
      outline: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #FFC300;
      .cartno{
        border-radius: 40%;
        width: 20px;
        height: 20px;
        background-color: #C70039;
        color: white;
        position: absolute;
        top: -9px;
        left: 25px;

        font-size: x-small;
        // z-index: 5;
        border: 1px solid black;
        text-align: center;
      }
    }


  }

  .lang{
    position: relative;
    .langblock{
      background-color: #FFC300 ;
      color: black;
      position: absolute;
      width:47px;
      top: 10px;
      left:-5px;
      border: 3px black solid;
      display: none;

        list-style-type: none;

        //margin: 0px 0px 0px -27px;
        box-sizing: border-box;
        li{
          left:-23px;
          position:relative ;
          margin-left: 0;
          align-items: center;
          &:hover{
            //background-color: black;
            color: #C70039;
            box-sizing: border-box;
            cursor: pointer;
          }

        }


    }

    &:hover{
      .langblock{

        display: block ;
        // left: -50px;
      }

    }
  }
  li{
    margin: 10px;
  }

}
@media (max-width:700px) {
  .responsiveNav{
    display: block;

    &:hover + .navbar{
      display: flex;
    }
  }
  .navbar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    display: none;
    &:hover{
      display: flex;
    }

    li{
      font-size: large;
    }
  }
}
