.navbar{
  display: flex;
  background-color: #FFC300 ;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  border: 3px black solid;

  li{
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    &:hover{
      color: #C70039;
      cursor: pointer;
    }
    .cartno{
      border-radius: 40%;
      width: 20px;
      height: 20px;
      background-color: #C70039;
      color: white;
      position: absolute;
      top: 4px;
      left: 800px;
      font-size: x-small;
      z-index: 5;
      border: 1px solid black;
      text-align: center;
    }
    .langblock{
      background-color: #FFC300 ;
      color: black;
      position: fixed;
      width:47px;
      top: 30px;
      left:834px;
      border: 3px black solid;
      display: none;

        list-style-type: none;

        //margin: 0px 0px 0px -27px;
        box-sizing: border-box;
        li{
          left:-23px;
          position: relative;
          margin-left: 0;
          align-items: center;
          &:hover{
            //background-color: black;
            color: #C70039;
            box-sizing: border-box;
            cursor: pointer;
          }

        }


    }

  }

  .lang{
    &:hover{
      .langblock{
        display: block ;
        // left: -50px;
      }

    }
  }
  li{
    margin: 10px;
  }

}
