<div>
  <ul class="navbar">
    <li routerLink="/Home">{{ "HOME" | translate }}</li>
    <li routerLink="/Food/Stores">{{ "STORES" | translate }}</li>
    <li (click)="NavigateToAccount()">{{ "ACCOUNT" | translate }}</li>
    <li routerLink="/Authorization/Login">{{ "LOGIN" | translate }}</li>
    <li routerLink="/User/Cart" class="cart">
      <i class="fa-solid fa-cart-plus"></i>
      <div class="cartno" appCustomCart [lang]="currentlang">0</div>
    </li>

    <li class="lang">
      <i class="fa-solid fa-globe"></i
      ><i style="margin-left: 5px" class="fa-solid fa-chevron-down"></i>
      <ul class="langblock" appCustomlang [lang]="currentlang">
        <li (click)="transfn('en')">EN</li>
        <li (click)="transfn('ar')">AR</li>
      </ul>
    </li>
  </ul>
</div>
