<div>
  <button type="button" class="responsiveNav">
    <i class="fa-solid fa-bars"></i>
  </button>
  <ul class="navbar container-fluid">
    <li routerLink="/Home">{{ "HOME" | translate }}</li>
    <li routerLink="/Food/Stores">{{ "STORES" | translate }}</li>
    <li (click)="NavigateToAccount()">{{ "ACCOUNT" | translate }}</li>
    <li routerLink="/Authorization/Login" *ngIf="!auth.isLoggedIn">
      {{ "LOGIN" | translate }}
    </li>
    <li *ngIf="auth.isLoggedIn" (click)="auth.Logout()">
      {{ "LOGOUT" | translate }}
    </li>
    <li (click)="NavigateCart()" class="cart">
      <button type="button">
        <i class="fa-solid fa-cart-plus"></i
        ><span class="cartno">{{ cartnumber }}</span>
      </button>
    </li>

    <li class="lang">
      <i class="fa-solid fa-globe"></i
      ><i style="margin-left: 5px" class="fa-solid fa-chevron-down"></i>
      <ul class="langblock">
        <li
          (click)="transfn('en')"
          appCustomlang
          [lang]="changedir()"
          type="langblock"
        >
          EN
        </li>
        <li
          (click)="transfn('ar')"
          appCustomlang
          [lang]="changedir()"
          type="langblock"
        >
          AR
        </li>
      </ul>
    </li>
  </ul>
</div>
