.parent{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .child{
    width:150px;
    height:150px;
    box-shadow: -1px 0px 10px 10px #ffc300;
    margin: 30px;
    border-radius: 50%;
    cursor: pointer;
    div{
      border-radius: 50%;
      img{
        border-radius: 50%;
      }
    }
  }
}
