.parent{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //position: relative;
  width: 100%;
  height: 29%;
  .serachicon{
    position: relative;
    left: -240px;
    top: 2px;

  }
  .content{
    display: flex;
    .contentChild{
      width: 250px;
      height: 250px;
      border: 1px black solid;
      margin-left: 10px;
      font-size: larger;

    }
  }

  .searchbar{
    // position: absolute;
    // top:-100px;
    margin-bottom: 50px;
    width: 350px;
    font-family: 'Poor Story', 'cursive';
    font-size: large;
    font-weight: bolder;
    input[type=text]{
      width: 250px;
      height: 30px;
      border-radius: 20px;
      outline: none;
      padding-left:29px ;
      border: #FFC300 2px solid;
      &:hover{
        border-color: #C70039;
      }
    }
    button{
      margin-left: 0;
      border-radius: 10px;
      width: 75px;
      background-color: #FFC300;
      color: black;
      border: 2px #C70039 solid;
      &:hover{
        color: #C70039 ;
        background-color: black;
      }
    }
  }
}
@media (max-width:700px) {
  .parent{

    flex-direction: column;
  }
}
