<div class="parent">
  <div class="searchbar">
    <input type="text" />
    <i class="fa-solid fa-magnifying-glass serachicon"></i>
    <button>{{ "SEARCH" | translate }}</button>
  </div>
  <div class="content">
    <div
      class="contentChild"
      *ngFor="let food of foodList"
      routerLink="/Food/FoodDetails"
    >
      <div><img [src]="food.imgURL" width="100%" height="230px" /></div>
      <div class="contentCard">
        <div class="foodname">{{ food.id.toUpperCase() | translate }}</div>
        <div class="fooddesc">{{ food.description.toUpperCase() }}</div>

        <div class="foodprice">
          {{ food.price | currency: "EGP ":"code":"2.0" }}
        </div>
        <div style="font-size: small">
          <ngb-rating
            style="color: orange; font-size: x-large"
            [max]="5"
            [(rate)]="food.rating / food.numUser"
            [readonly]="true"
          >
          </ngb-rating>
          ({{ food.rating / food.numUser }})
        </div>
      </div>
    </div>
  </div>
</div>
