.parent{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  //position: relative;
  width: 100%;
  height: 29%;
  .serachicon{
    position: relative;
    left: -240px;
    top: 2px;

  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .contentChild{
      width: 350px;
      height: 470px;
      //border: 1px black solid;
      margin-left: 10px;
      margin-top: 20px;
      font-size: larger;
      cursor: pointer;
      border-radius: 25px;
      font-family: 'Merriweather', serif;
      .contentCard{
        margin-top: 20px;
        background-color: #D5D8DC;
        height: 220px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        .foodname{
          text-align: center;
          font-family: 'Merriweather', serif;
          font-size: large;
          margin-top: 5px;
        }
        .fooddesc{
          margin-top: 10px;
          margin-left: 10px;
        }
        .foodprice{
          color: green;
          margin-left: -183px;
          margin-top: 10px;
        }
      }
      img{
        border-radius: 25px;
      }
      &:hover{
        //transform: translateY('30px');
        //margin-top: -10px;
        z-index: 5;
        box-shadow: 5px 5px 10px 10px #FFC300 ;
      }

    }
  }

  .searchbar{
    // position: absolute;
    // top:-100px;
    margin-bottom: 50px;
    width: 350px;
    font-family: 'Poor Story', 'cursive';
    font-size: large;
    font-weight: bolder;
    input[type=text]{
      width: 250px;
      height: 30px;
      border-radius: 20px;
      outline: none;
      padding-left:29px ;
      border: #FFC300 2px solid;
      &:hover{
        border-color: #C70039;
      }
    }
    button{
      margin-left: 0;
      border-radius: 10px;
      width: 75px;
      background-color: #FFC300;
      color: black;
      border: 2px #C70039 solid;
      &:hover{
        color: #C70039 ;
        background-color: black;
      }
    }
  }
}
@media (max-width:700px) {
  .parent{

    flex-direction: column;
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .contentChild{
        width: 250px;
        height: 470px;
       // border: 1px black solid;
        margin-bottom: 50px;
        font-size: larger;

          .foodprice{
            margin-left: 50px;
          }

      }
    }
    .searchbar{
      // position: absolute;
      // top:-100px;
      margin-bottom: 50px;
      margin-right: 50px;


      button{
        margin-left: -15px;

      }
    }
  }
}

